.Background{
    margin-top:-10px;
    margin-left:-10px;
    background-repeat: no-repeat;
}

.GameOverButton{
   width:201px;
   height:63px;
   background-image:url('D-Reset.png');
   position:absolute; 
   margin-left:-565px;
   margin-top:400px;
}

.GameOverButton:hover{
    width:201px;
    height:63px;
    background-image:url('L-Reset.png');
}


.Menu{
    margin-top:-10px;
    Margin-left:-1074px;
    position:absolute;
}

.Up{
    width:50px;
    height:50px;
    margin-left:40px;
    margin-top:-446px;
}

.Left{
    width:50px;
    height:50px;
    margin-top:-396px;
    margin-left:-10px;

}

.Right{
    width:50px;
    height:50px;
    margin-left:90px;
    margin-top:-396px;
}

.Down{
    width:50px;
    height:50px;
    margin-left:40px;
    margin-top:-346px;
}

.Fire{
    width:50px;
    height:50px;
    margin-left:1114px;
    margin-top:-406px;
}

#CSSPoint{
    margin-top:-10px;
    margin-left:-1074px;
    position:absolute;
}

#Main{
    position:absolute;
    background-image:url('Main.png');
    width:50px;
    height:50px;
}
/*-------------------------------------------------------------------------------------*/
#Teki{
    position:absolute;/*設定定位:不會被特別定位*/
    left:150px;/*設定圖片定位*/
    top:50px;
    animation-name:Teki;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki{
    0%{
        left:150px;
    }
    100%{
        left:275px;
    }
}
/*-------------------------------------------------------------------------------------*/
#Teki2{
    position:absolute;/*設定定位:不會被特別定位*/
    left:275px;/*設定圖片定位*/
    top:50px;
    animation-name:Teki2;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki2{
    0%{
        left:275px;
    }
    100%{
        left:400px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki3{
    position:absolute;/*設定定位:不會被特別定位*/
    left:400px;/*設定圖片定位*/
    top:50px;
    animation-name:Teki3;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki3{
    0%{
        left:400px;
    }
    100%{
        left:525px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki4{
    position:absolute;/*設定定位:不會被特別定位*/
    left:525px;/*設定圖片定位*/
    top:50px;
    animation-name:Teki4;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki4{
    0%{
        left:525px;
    }
    100%{
        left:650px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki5{
    position:absolute;/*設定定位:不會被特別定位*/
    left:650px;/*設定圖片定位*/
    top:50px;
    animation-name:Teki5;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki5{
    0%{
        left:650px;
    }
    100%{
        left:775px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki6{
    position:absolute;/*設定定位:不會被特別定位*/
    left:775px;/*設定圖片定位*/
    top:50px;
    animation-name:Teki6;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki6{
    0%{
        left:775px;
    }
    100%{
        left:900px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki7{
    position:absolute;/*設定定位:不會被特別定位*/
    left:900px;/*設定圖片定位*/
    top:50px;
    animation-name:Teki7;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki7{
    0%{
        left:900px;
    }
    100%{
        left:1024px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki8{
    position:absolute;/*設定定位:不會被特別定位*/
    left:150px;/*設定圖片定位*/
    top:150px;
    animation-name:Teki8;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki8{
    0%{
        left:150px;
    }
    100%{
        left:275px;
    }
}
/*-------------------------------------------------------------------------------------*/
#Teki9{
    position:absolute;/*設定定位:不會被特別定位*/
    left:275px;/*設定圖片定位*/
    top:150px;
    animation-name:Teki9;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki9{
    0%{
        left:275px;
    }
    100%{
        left:400px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki10{
    position:absolute;/*設定定位:不會被特別定位*/
    left:400px;/*設定圖片定位*/
    top:150px;
    animation-name:Teki10;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki10{
    0%{
        left:400px;
    }
    100%{
        left:525px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki11{
    position:absolute;/*設定定位:不會被特別定位*/
    left:525px;/*設定圖片定位*/
    top:150px;
    animation-name:Teki11;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki11{
    0%{
        left:525px;
    }
    100%{
        left:650px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki12{
    position:absolute;/*設定定位:不會被特別定位*/
    left:650px;/*設定圖片定位*/
    top:150px;
    animation-name:Teki12;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki12{
    0%{
        left:650px;
    }
    100%{
        left:775px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki13{
    position:absolute;/*設定定位:不會被特別定位*/
    left:775px;/*設定圖片定位*/
    top:150px;
    animation-name:Teki13;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki13{
    0%{
        left:775px;
    }
    100%{
        left:900px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki14{
    position:absolute;/*設定定位:不會被特別定位*/
    left:900px;/*設定圖片定位*/
    top:150px;
    animation-name:Teki7;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki14{
    0%{
        left:900px;
    }
    100%{
        left:1024px;
    }
}
/*-------------------------------------------------------------------------------------*/
#Bullet{
    position:absolute;
    width:28px;
    height:28px;
}