.Background{
    margin-top:-10px;
    margin-left:-10px;
    background-repeat: no-repeat;
}

.GameOverButton{
   width:201px;
   height:63px;
   background-image:url('Pic/D-Reset.png');
   position:absolute; 
   margin-left:-425px;
   margin-top:320px;
}

.GameOverButton:hover{
    width:201px;
    height:63px;
    background-image:url('Pic/L-Reset.png');
}


.Menu{
    margin-top:-10px;
    Margin-left:-640px;
    position:absolute;
}

.Up{
    width:50px;
    height:50px;
    margin-left:50px
}

.Left{
    width:50px;
    height:50px;

}

.Right{
    width:50px;
    height:50px;
    margin-left:50px;
}

.Down{
    width:50px;
    height:50px;
    margin-left:50px;
}

.Fire{
    width:50px;
    height:50px;
    margin-left:300px;
}

#CSSPoint{
    margin-top:-8px;
    margin-left:-640px;
    position:absolute;
}

#Main{
    position:absolute;
    background-image:url('PIC/Main.png');
    width:50px;
    height:50px;
}
/*-------------------------------------------------------------------------------------*/
#Teki{
    position:absolute;/*設定定位:不會被特別定位*/
    left:4px;/*設定圖片定位*/
    top:50px;
    animation-name:Teki;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki{
    0%{
        left:4px;
    }
    100%{
        left:87px;
    }
}
/*-------------------------------------------------------------------------------------*/
#Teki2{
    position:absolute;/*設定定位:不會被特別定位*/
    left:87;/*設定圖片定位*/
    top:50px;
    animation-name:Teki2;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki2{
    0%{
        left:87;
    }
    100%{
        left:170px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki3{
    position:absolute;/*設定定位:不會被特別定位*/
    left:170;/*設定圖片定位*/
    top:50px;
    animation-name:Teki3;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki3{
    0%{
        left:170;
    }
    100%{
        left:253px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki4{
    position:absolute;/*設定定位:不會被特別定位*/
    left:253;/*設定圖片定位*/
    top:50px;
    animation-name:Teki4;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki4{
    0%{
        left:253;
    }
    100%{
        left:336px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki5{
    position:absolute;/*設定定位:不會被特別定位*/
    left:336;/*設定圖片定位*/
    top:50px;
    animation-name:Teki5;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki5{
    0%{
        left:336;
    }
    100%{
        left:419px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki6{
    position:absolute;/*設定定位:不會被特別定位*/
    left:419;/*設定圖片定位*/
    top:50px;
    animation-name:Teki6;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki6{
    0%{
        left:419;
    }
    100%{
        left:502px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki7{
    position:absolute;/*設定定位:不會被特別定位*/
    left:502;/*設定圖片定位*/
    top:50px;
    animation-name:Teki7;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki7{
    0%{
        left:502;
    }
    100%{
        left:585px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki8{
    position:absolute;/*設定定位:不會被特別定位*/
    left:4;/*設定圖片定位*/
    top:100px;
    animation-name:Teki8;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki8{
    0%{
        left:4;
    }
    100%{
        left:87px;
    }
}
/*-------------------------------------------------------------------------------------*/
#Teki9{
    position:absolute;/*設定定位:不會被特別定位*/
    left:87;/*設定圖片定位*/
    top:100px;
    animation-name:Teki9;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki9{
    0%{
        left:87;
    }
    100%{
        left:170px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki10{
    position:absolute;/*設定定位:不會被特別定位*/
    left:170;/*設定圖片定位*/
    top:100px;
    animation-name:Teki10;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki10{
    0%{
        left:170;
    }
    100%{
        left:253px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki11{
    position:absolute;/*設定定位:不會被特別定位*/
    left:253;/*設定圖片定位*/
    top:100px;
    animation-name:Teki11;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki11{
    0%{
        left:253;
    }
    100%{
        left:336px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki12{
    position:absolute;/*設定定位:不會被特別定位*/
    left:336;/*設定圖片定位*/
    top:100px;
    animation-name:Teki12;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki12{
    0%{
        left:336;
    }
    100%{
        left:419px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki13{
    position:absolute;/*設定定位:不會被特別定位*/
    left:419;/*設定圖片定位*/
    top:100px;
    animation-name:Teki13;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki13{
    0%{
        left:419;
    }
    100%{
        left:502px;
    }
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#Teki14{
    position:absolute;/*設定定位:不會被特別定位*/
    left:502;/*設定圖片定位*/
    top:100px;
    animation-name:Teki7;/*動畫名稱*/
    animation-duration:2s;/*動畫時間*/
    animation-iteration-count:infinite;/*重複次數:無限次*/
    animation-direction:alternate;/*撥放完畢之後反向撥放*/
}
@keyframes Teki14{
    0%{
        left:502;
    }
    100%{
        left:585px;
    }
}
/*-------------------------------------------------------------------------------------*/
#Bullet{
    position:absolute;
    width:28px;
    height:28px;
    animation-name:Bullet;
    animation-duration:2s;
    animation-iteration-count:infinite;
    animation-play-state:paused;
}
@keyframes Bullet{
    0%{
        
    }
    100%{
    top:-508px;}
}